@import url("https://fonts.googleapis.com/css2?family=Play&family=Poppins&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden !important;
}

*:disabled {
  cursor: not-allowed !important;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #222;
  font-family: "Poppins", sans-serif;
}

button:disabled {
  cursor: not-allowed !important;
}

dialog {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 222;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
}

dialog #container {
  width: min(500px, 90vw);
  background: black;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

dialog #container p {
  font-size: 25px;
}

dialog #container button {
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 25px;
  color: black;
  cursor: pointer;
}

.numbers-container {
  display: grid;
  padding: 15px;
  border-radius: 10px;
  background: #2c2c2c;
  gap: 10px;
  grid-template-columns: repeat(9, 1fr);
  margin-bottom: 20px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  padding: 10px 15px;
  border-radius: 10px;
  background: #232323;
  color: rgba(255, 255, 255, 0.8);
  transition: transform 350ms;
  cursor: pointer;
}

.number:not(:disabled):hover {
  transform: scale(1.07);
}

.number-buttons {
  grid-column: span 9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5px;
}

.number-button {
  width: 49%;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.8);
  background: #353535;
  border-radius: 5px;
  font-size: 23px;
  cursor: pointer;
}

.dice-container {
  display: grid;
  grid-template-areas:
    "dice-1 dice-2"
    "roll-dice roll-dice";
  gap: 20px;
  padding: 30px;
  background: #111;
  border-radius: 12.5px;
  align-items: center;
  width: 608.66px;
  justify-content: center;
  align-items: center;
}

#start-game-button {
  grid-area: roll-dice;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.8);
  background: #353535;
  border-radius: 5px;
  font-size: 23px;
  width: 100%;
  cursor: pointer;
}

#dice-1 {
  grid-template-areas: dice-1;
}

#dice-2 {
  grid-template-areas: dice-2;
}

@media (width < 630px), (height < 610px) {
  .dice-container,
  .numbers-container {
    width: 93vw;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
  }
  .dice-container {
    justify-items: center;
  }
  .numbers-container {
    column-gap: 4px;
    row-gap: 10px;
  }
  .number {
    padding: 5px 15px;
    font-size: 27px;
  }
  .dice {
    height: min(40vw, 235px);
    width: min(40vw, 235px);
  }
}

@media (height < 610px) {
  .dice {
    height: min(235px, 40vh, 40vw);
    width: min(235px, 40vh, 40vw);
  }
  .dice-container,
  .numbers-container {
    width: min(115vh, 98vw);
  }
  .number-button {
    padding: 3px 8px;
    font-size: 17px;
    margin-top: 15px;
  }
  .dice-container {
    margin-bottom: 20px;
  }
  .numbers-container {
    margin-top: 20px;
  }
  #start-game-button {
    padding: 3px 8px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  @media (height < 350px) {
    .dice {
      margin-top: 15px;
      width: min(235px, 30vh, 30vw);
      height: min(235px, 30vh, 30vw);
    }
    .number {
      font-size: 24px;
      padding: 4px 8px;
    }
    .numbers-container {
      row-gap: 20px;
    }
    .dice-container,
    .numbers-container {
      width: min(135vh, 98vw);
      padding: 20px;
    }
    #start-game-button {
      padding: 2px 6px;
      font-size: 17px;
      margin-bottom: 25px;
    }
    .number-button {
      padding: 2px 6px;
      font-size: 16px;
    }
  }
}
